<!DOCTYPE html>
<html>

  <head>
    <title>Tech & Talk</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>

  <!-- Navbar -->
    <div class="background">

        <div class="mainbloc">
          <img src="https://pbs.twimg.com/profile_images/1115636075685449730/18kuxYT7_400x400.png" class="logo">
          <p class="textoffline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>
        </div>

      <div class="footer">
        <p class="textfooter">© 2020 La meilleure team</p>
      </div>

    </div>

  </body>

</html>
