<html>

<div class="header">
  <img class="title" src="../../assets/img/Tech&Talk.png">
  <div class="navbar">
    <a href="profile"><img src="../../assets/img/profile.png" width="50" height="50"></a>
    <a href=""><img src="../../assets/img/logout.png" width="50" height="50" (click)="disconnect()"></a>
  </div>
</div>

<div class="mainContainer">
  <div class="newArticle">
    <textarea class="textNewArticle"></textarea>
    <button class="addArticle">Send</button>
  </div>
  <div class="column">
    <!-- ADD LIST ARTICLES -->
  </div>
</div>

</html>
